body {
  overflow-y: auto;
  position: relative;
  max-width: 100vw;
  min-height: 200vh;
  background-color: #332244;
  background-image: linear-gradient(to bottom, #000000, #110022);
}


/* Proto */
.proto-eye {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}


/* Actual index */ 
.world-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.world {
  max-width: 300px;
  max-height: 300px;
}

.world::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3 ease;
  pointer-events: none;
}

.world-label {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-family: "Monaco", monospace;
  font-size: 1.5rem;
  font-style: italic;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 1;
}

.world:hover::after,
.world:hover .world-label {
  opacity: 1;
}

.world img {
  width: 100%;
  height: 100%;
  border: 2px solid white;
  border-radius: 50%;

  animation: spin 30s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

.library {
  position: relative;
  top: 100px;
  left: 25%;
}

/* Footer */
.footer {
  position: absolute;
  bottom: 100px;
  text-align: center;
  width: 100%;
}

.footer span {
  font-family: "Monaco", monospace;
  font-size: 3rem;
  font-style: italic;
  color: white;
}
